# Скомпилированные Python файлы
*.pyc

# Системная папка
.idea/

# Папки с кэшем Python
**/__pycache__/

# Файлы с переменными окружения
.env

# Виртуальное окружение Python
venv/

# Папка с файловой БД
/data